.filter_expense {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.filter_expense_text {
  font-weight: 900;
}
.filter_expense_form_label {
  font-weight: 900;
}
.filter_expense_option {
  padding: 5px 10px;
  border: 1px solid green;
  border-radius: 5px;
  outline: none;
  font-weight: 600;
}
.filter_expense_item {
  font-weight: 600;
}
