.expenseDateBox {
  border: 0.5px solid green;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 20px;
}

.expenseDateBox__year {
  font-weight: bold;
}
.expenseDateBox__day {
  font-weight: 700;
}

.expenseDateBox__month {
  font-weight: 500;
}
